# List

In [5]:
#create a list 
List = []
print("blank list",List)
#crate a list wth number of list
List = [10,20,30]
print("list of number",List)
#create a list with string and accessing
List = ['geeks','for','geeks']
print('String of list',List)
print('first element of string list',List[0],'second element of string of list',List[1])
#create a multi dimensional list 
List = [['geeks','for','geeks'],10,20,30]
print('multi dimensional of list',List)

blank list []
list of number [10, 20, 30]
String of list ['geeks', 'for', 'geeks']
first element of string list geeks second element of string of list for
multi dimensional of list [['geeks', 'for', 'geeks'], 10, 20, 30]

# caeata a list with multi distinct or duplicate elements

In [7]:
#create a list with multi duplicate a value
List = [1,1,2,3,4,5,6,7,8,9]
print("duplicate elements of list",List)
#create list with number or string
List = [1,'geeks',2,'for',3,'geeks']
print("list with number or string",List)

duplicate elements of list [1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list with number or string [1, 'geeks', 2, 'for', 3, 'geeks']

# Known the size of list

In [8]:
#empty list 
List = []
print("Length of empty list",len(List))
#number of list
List = [1,2,3,4,5,6]
print("Length of number list",len(List))

Length of empty list 0
Length of number list 6

# Add elements using append function

In [11]:
#empty list
List_one = []
List_one.append(1)
List_one.append(2)
List_one.append(3)
print("empty list to number os list using append function to add element",List) 
list_two = []
for i in range(0,10):
    list_two.append(i)
print("Adding element using for loop into list",list_two)
list_two.append((444,8888))
print("add a tuple into list using append function",list_two)

empty list to number os list using append function to add element [1, 2, 3]
Adding element using for loop into list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
add a tuple into list using append function [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, (444, 8888)]

# Using insert() function to insert values into list 
## insert() function take two elements first for place or second for value

In [13]:
#create a list 
List = [1,2,3,4]
print('initial list',List)
#insert at 2 index place value is 22222
List.insert(2,2222)
List.insert(0,'geeks')
print('List after increment',List)

initial list [1, 2, 3, 4]
List after increment ['geeks', 1, 2, 2222, 3, 4]

# using extend function increase list

In [17]:
#create list
List = [1,2,3,4,5,6,7]
#using extend function to add value in the form of the list into list at the end of this list
List.extend([222222])
print('after extending the list',List)
#using extend funtion add multiple values into the list
List.extend([2222222,'geeks','for','geeks'])
print(List)

after extending the list [1, 2, 3, 4, 5, 6, 7, 222222]
[1, 2, 3, 4, 5, 6, 7, 222222, 2222222, 'geeks', 'for', 'geeks']

# Accessing elements from the list

In [21]:
#create a list 
List = [0,1,2,3,4,5,6]
print('First Element of one dimensions list',List[0])
two_dimension = [[1,2,3,4,5,6,7,8,9]]
print('first element of two dimensional element',two_dimension[0])

First Element of one dimensions list 0
first element of two dimensional element [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Negative Index of list

In [24]:
mylist = [1,'geeks',2,'for',3,'geeks']
print('Through Negative index access first element',mylist[-1])
print('Through Negative index access third element',mylist[-3])

Through Negative index access first element geeks
Through Negative index access third element for

# Removing elements from the list

In [27]:
mylist = [11111111,1,2,3,4,5,6,7,8,9,10,11]
print('this is my originally list',mylist)
print("remove value 1 from list")
mylist.remove(1)
print("After performing remove function on list",mylist)

this is my originally list [11111111, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
remove value 1 from list
After performing remove function on list [11111111, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

# pop()
### Using pop() to remove end element by default
### by pass index to delete specific index element

In [29]:
#create a list 
mylist = [1,2,3,4,4,5,6,7,8,9,10,11]
print('Originally list',mylist)
mylist.pop()
print('Remove the end element with pop',mylist)
mylist.pop(5)
print('Remove the mid element with pop function',mylist)

Originally list [1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10, 11]
Remove the end element with pop [1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10]
Remove the mid element with pop function [1, 2, 3, 4, 4, 6, 7, 8, 9, 10]

# Slicing of a list

In [42]:
mylist_one = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o']
print('Originally list:',mylist_one)
print("This is mylist with slicing:",mylist_one[5:])
mylist_two = 'My name is Muhammad Ahmad. i am a data scientist at google and amazon'#['My name is Muhammad Ahmad. i am a data scientist at google and amazon.']
print("Originally mylist_two:",mylist_two)
print('This is mylist through slicing: ',mylist_two[5:])

Originally list: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o']
This is mylist with slicing: ['f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o']
Originally mylist_two: My name is Muhammad Ahmad. i am a data scientist at google and amazon
This is mylist through slicing:  me is Muhammad Ahmad. i am a data scientist at google and amazon

# Neagtive Slicing

In [46]:
mylist_one = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o']
print('Originally list:',mylist_one)
print("This is mylist with slicing:",mylist_one[-5:])
mylist_two = 'My name is Muhammad Ahmad. i am a data scientist at google and amazon'#['My name is Muhammad Ahmad. i am a data scientist at google and amazon.']
print("Originally mylist_two:",mylist_two)
print('This is mylist through slicing: ',mylist_two[-5:])

Originally list: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o']
This is mylist with slicing: ['k', 'l', 'm', 'n', 'o']
Originally mylist_two: My name is Muhammad Ahmad. i am a data scientist at google and amazon
This is mylist through slicing:  mazon